<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/youtube.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/add">Add a song!</a>
    <button id="add_button">Add Song In Page</button>


    <div id="dialog" title="Add a New Song" style="border:2px solid black"> 
      <input type="text" id="searchbar" name="song_search" size=45>
      <ul id="results"></ul>
    </div>
  </body>
</html>
