<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  	<script src="/javascripts/angularApp.js"></script>
  	<base href="/">
  </head>
  
  <body ng-app="djq">

  	<div class="row">
  		<div class="col-md-6 col-md-offset-3">
  			<ui-view></ui-view>
  		</div>
  	</div>

  	<script type="text/ng-template" id="/dj.html">
      <div class="page-header">
        <h1>{{user.username}}</h1>
      </div>

      <div ng-repeat="song in queue">
        <a>{{song.title}}</a>
      </div>

  		// <div ng-repeat="song in user.songs | orderBy:'-upvotes'">
  		// 	{{song.upvotes}} - {{song.title}}
  		// </div>
  	</script>
  </body>
</html>