<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/youtube.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <pre id="text"></pre>
  </body>
</html>
