<!DOCTYPE html>
<html>
  <head>
    <title>djQ</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/youtube.js"></script>
    <!-- <script src="/javascripts/youtube2.js"></script> -->
    <script src="https://apis.google.com/js/client.js?onload=onClientLoad"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
  	<base href="/">
  </head>
  <body ng-app="djq">

  	<!-- DO NOT MODIFY (FOR NOW) -->
  	<div class="row">
  		<div class="col-md-2 col-md-offset-2">
  			<ui-view></ui-view>
  		</div>
  	</div>

  	<script type="text/ng-template" id="/home.html">
  		<div class="page-header">
  			<h1>djQ</h1>
  		</div>

  		<div ng-repeat="user in users">
  			<a href="/{{user.username}}">{{user.username}}</a>
  		</div>

  		<form ng-submit="addDj()">
  			<input type="text" ng-model="username"></input>
  			<input type="password" ng-model="password"></input>
        <input type="text" ng-model="email"></input>
  			<button type="submit">Submit</button>
  		</form>
  	</script>
  	<!-- END DO NOT MODIFY -->

  	<script type="text/ng-template" id="/dj.html">
  		<!--start navbar-->
	    <nav class="navbar navbar-left navbar-inverse navbar-fixed-top">
	      <div id="nav-container" class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a id="main-title" class="navbar-brand" href="/">djQ</a>

	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="active" id='username'><a href="">{{username}}</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	    <!--end navbar-->

	    <!--start container-->
	    <div class="container">

        <!--start player-->
	      <div class="now-playing">
	          <div class="container" style="display:inline">
	            <div class="embed-responsive embed-responsive-16by9">
	              // <div id="player" class="embed-responsive-item"></div>
                //should be able to just put in "embed-responsive-item" to this, but for some reason it no work :(
                <youtube-video player="player" player-vars="playerVars" video-id=""></youtube-video>
	            </div>
	          </div> 
	      </div>
        <!--end player-->

	          <!--panel-->
		    <div class="panel panel-default">
		        <!-- Default panel contents -->
		        <div class="panel-heading clearfix">
		            <div class="panel-title pull-left">
		              <b>The Queue</b>
		            </div>
		            <button class="btn btn-default pull-right" type="button">
		            	<span class="glyphicon glyphicon-refresh" ng-click="refresh()"></span> 
		            </button>
		            <button class="btn btn-default pull-right" type="button" data-toggle="modal" data-target=".search-songs">
		               <span class="glyphicon glyphicon-plus"></span> 
		            </button>
		        </div>

		        <!--start modal-->
				<div class="modal fade search-songs" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div id="yt-search-songs" class="modal-content">
							<!--start search-->
							<div id="search" class="form-group" ng-click="mousePressed()" >
								<input class="search-query form-control" type="text" id="searchbar" name="song_search" placeholder="Search for a song here." ng-keyup="keyPress()">
								<ul id="results" class="list-group" data-dismiss="modal">

								</ul>
							</div>
							<!--end search-->
						</div>
					</div>
				</div>
				<!--end modal-->

		        <div class="panel-body">
		            <!--table-->
		            <table class="table table-striped">
		                <thead>
		                    <tr>
		                        <!--th>#</th-->
		                        <th class="col-md-1"></th>
		                        <th class="col-md-2">Song</th>
		                        <th class="col-md-1 text-right">Priority</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr ng-repeat="song in queue">
		                        <!--td>{{song.$index + 1}}</td-->
		                        <td><img src="{{song.thumbnail}}" height="50"/></td>
		                        <td>{{song.title}}</td>
		                        <td align="right">
		                          <span id="upvote" class="glyphicon glyphicon-chevron-up" ng-click="upvoteSong(song)"></span>
		                            {{song.priority}}
		                          <span id="downvote" class="glyphicon glyphicon-chevron-down" ng-click="downvoteSong(song)"></span>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>
		            <!--end of table-->
		        </div>
		    </div>
		    <!--end of panel-->

        <button id="remove" class="btn btn-danger" ng-click="popSong()">Play Next Song</button>

		    

	    </div><!-- /.container -->
	</script> 
	
	</body>
</html>
