<!DOCTYPE html>
<html>
  <body bgcolor = "#202020">
    <h1><font color = 'white'>New Song</h1>
      <form method="post" action="/songs/add"><font color = 'white'>
      User Name:	<input type="text" name="username"> <br>
      Title:  		<input type="text" name="title"> <br>
      <!-- Length:  		<input type="text" name="length"> <br> -->
      URL:  		<input type="text" name="url"> <br>
      Thumbnail:	<input type="text" name="thumbnail"> <br>
      <button>Create</button>
      </form>
  </body>
</html>