<!DOCTYPE html>
<html>
  <body bgcolor = "#202020">
    <h1><font color = 'white'>New User</h1>
      <form method="post" action="/users/add"><font color = 'white'>
      User Name: <input type="text" name="username"> <br>
      Password:  <input type="password" name="password"> <br>
      Email:  <input type="text" name="email"> <br>
      <button>Create</button>
      </form>
  </body>
</html>