<!DOCTYPE html>
<html>
  <body bgcolor = "#202020">
    <h1><font color = 'white'>Upvote Song</h1>
      <form method="post" action="/songs/upvote"><font color = 'white'>
      User Name:	<input type="text" name="username"> <br>
      Song Id:  		<input type="text" name="songId"> <br>
      Vote:  		<input type="text" name="vote"> <br>
      <button>Create</button>
      </form>
  </body>
</html>