body {
	padding-top: 50px;
 	padding: 50px;
 	background-color:#16161D;
 	font-family:Roboto, sans-serif;
}

a {
 	color: #00B7FF;
}

.light-on-dark {
	color: #C6C6CD;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 35%;
}

#nav-container {
	float: left;
	margin-left: 20px;
}

.navbar-brand {
	padding: 8px;
}

#main-title {
	margin-top: 8px;
	color: #F45858;
	font-size: 30px;
}

#logo {
	margin-left: -17px;
	max-height: 50px;
}

#player-controls li a:visited{
	text-decoration:none;
}

.now-playing {
    margin-top: 20px;
}

.hidden {
	display: none;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 35%;
}

#upvote {
	cursor: pointer;
	margin-right: 10px;
}

#downvote {
	cursor: pointer;
	margin-left: 10px;
}
#logo {
	margin-left: -8px;
	margin-top: -17px;
}

#results .list-group-item {
	cursor: pointer;
}

#yt-search-songs {
	padding: 5px;
}



