body {
	padding-top: 50px;
 	padding: 50px;
}

a {
 	color: #00B7FF;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 35%;
}

.now-playing img{
    float: left;
    margin-right: 20px;
}

#main-title {
	font-size: 30px;
}

#upvote {
	cursor: pointer;
	margin-right: 10px;
}

#downvote {
	cursor: pointer;
	margin-left: 10px;
}

#nav-container {
	float: left;
	margin-left: 20px;
}